@inject IDropdownHelperService DropdownHelperService
@{ Layout = null; }

<script>

    function Select2NotificationTypes(options) {
        Select2({
            data: '@Html.Raw(DropdownHelperService.GetNotificationTypes().GetDropdownItemsJson())',
            placeholder: '@Translations.Select_notification_type',
            ...options
        });
    }

    function Select2NotificationDistributionTypes(options) {
        Select2({
            data: '@Html.Raw(DropdownHelperService.GetNotificationDistributionTypes().GetDropdownItemsJson())',
            placeholder: '@Translations.Select_notification_distribution_type',
            ...options
        });
    }

    function Select2SystemLanguages(options) {
        Select2({
            data: '@Html.Raw(DropdownHelperService.GetSystemLanguages().GetDropdownItemsJson())',
            placeholder: '@Translations.Select_language',
            ...options
        });
    }

    function Select2AppClaims(options) {
        Select2({
            data: '@Html.Raw(DropdownHelperService.GetAppClaims().GetDropdownItemsJson())',
            placeholder: '@Translations.Select_app_claim',
            ...options
        });
    }

    function Select2TicketTypes(options) {
        Select2({
            data: '@Html.Raw(DropdownHelperService.GetTicketTypes().GetDropdownItemsJson())',
            placeholder: '@Translations.Select_ticket_type',
            ...options
        });
    }

    function Select2TicketStatuses(options) {
        Select2({
            data: '@Html.Raw(DropdownHelperService.GetTicketStatuses().GetDropdownItemsJson())',
            placeholder: '@Translations.Select_ticket_status',
            ...options
        });
    }

    function Select2AjaxCurrentUserCompanies(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("CurrentUserCompaniesDropdown", "Account")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.text
                };
            },
            placeholder: '@Translations.Select_company',
            ...options
        });
    }

    function Select2AjaxGroups(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Groups")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.title
                };
            },
            placeholder: '@Translations.Select_group',
            ...options
        });
    }

    function Select2AjaxUsers(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Users")',
            map: (x) => {
                return {
                    id: x.id,
                    text: `${x.firstName} ${x.lastName}`
                };
            },
            placeholder: '@Translations.Select_user',
            ...options
        });
    }

    function Select2AjaxCompanies(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Companies")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.name
                };
            },
            placeholder: '@Translations.Select_company',
            ...options
        });
    }

    function Select2AjaxBusinessUnits(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "BusinessUnits")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.name
                };
            },
            placeholder: '@Translations.Select_business_unit',
            ...options
        });
    }

    function Select2AjaxRoles(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Roles")',
            map: (x) => {

                var name = x.name;
                if (x.company != null)
                    name += ` (${x.company.name})`;
                if (x.businessUnit != null)
                    name += ` (${x.businessUnit.name})`;

                return {
                    id: x.id,
                    text: name,
                };
            },
            placeholder: '@Translations.Select_roles',
            ...options
        });
    }

    function Select2AjaxCountries(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Countries")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.name
                };
            },
            placeholder: '@Translations.Select_country',
            ...options
        });
    }

    function Select2AjaxCities(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Cities")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.name
                };
            },
            placeholder: '@Translations.Select_city',
            ...options
        });
    }

    function Select2AjaxCurrencies(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Currencies")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.name
                };
            },
            placeholder: '@Translations.Select_currency',
            ...options
        });
    }

    function Select2AjaxLanguages(options) {
        Select2Ajax({
            element: options.element,
            url: '@Url.Action("Dropdown", "Languages")',
            map: (x) => {
                return {
                    id: x.id,
                    text: x.name
                };
            },
            placeholder: '@Translations.Select_language',
            ...options
        });
    }

    function Select2(options) {
        options.data = JSON.parse(options.data);
        $(options.element).select2(options);
        $(options.element).val('');
        $(options.element).trigger('change');

        Select2Events(options);

        if (options.selectedItems != undefined && options.selectedItems != '') {
            $(options.element).val(options.selectedItems.map(element => element.id));
            $(options.element).trigger('change');
        }
        if (options.selectedItem != undefined && options.selectedItem != '') {
            console.log(options.selectedItem);
            $(options.element).val(options.selectedItem.id);
            $(options.element).trigger('change');
        }
    }

    function Select2Ajax(options) {
        $(options.element).select2({
            ajax: {
                url: options.url,
                data: options.data || function (params) {
                    return {
                        name: params.term,
                        pagination: {
                            skip: (((params.page ?? 1) - 1) * 20),
                            take: 20
                        }
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results.map(options.map),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                type: 'POST',
            },
            placeholder: options.placeholder,
        });

        Select2Events(options);
        if (options.selectedItems != undefined && options.selectedItems != '') {
            GenerateInitialResultItems(options);
        }
        if (options.selectedItem != undefined && options.selectedItem != '') {
            GenerateInitialResultItem(options);
        }
    }

    function Select2Events(options) {
        options.multiple = options.selectedItems != undefined;
        if (options.selectedItems != undefined && options.selectedItems != '') {
            options.selectedItems = JSON.parse(options.selectedItems);
        }
        if (options.selectedItem != undefined && options.selectedItem != '') {
            options.selectedItem = JSON.parse(options.selectedItem);
        }

        $(options.element).change(function (e) {
            if (options.multiple ?? false) {
                GenerateResultItems(options);
            }
            else {
                GenerateResultItem(options);
            }

            if (options.onChange != undefined) {
                options.onChange($(this));
            }
        });
    }

    function GenerateInitialResultItem(options) {
        var element = options.selectedItem;
        var resultItemsWrapper = GetOrCreateResultItemsWrapper(options);
        var sourceName = $(options.element).prop('name');

        var id = `<input type='hidden' name='${sourceName}DropdownItem.id' value='${element['id']}' />`;
        var text = `<input type='hidden' name='${sourceName}DropdownItem.text' value='${element['text']}' />`;

        $(resultItemsWrapper).append(id);
        $(resultItemsWrapper).append(text);

        $(options.element).append(`<option value="${element['id']}" selected="selected">${element['text']}</option>`);
    }

    function GenerateResultItem(options) {
        var resultItemsWrapper = GetOrCreateResultItemsWrapper(options);
        var sourceName = $(options.element).prop('name');

        $(options.element).select2('data').forEach(function (element, index) {
            var id = `<input type='hidden' name='${sourceName}DropdownItem.id' value='${element['id']}' />`;
            var text = `<input type='hidden' name='${sourceName}DropdownItem.text' value='${element['text']}' />`;

            $(resultItemsWrapper).append(id);
            $(resultItemsWrapper).append(text);
        });
    }

    function GenerateInitialResultItems(options) {
        var resultItemsWrapper = GetOrCreateResultItemsWrapper(options);
        var sourceName = $(options.element).prop('name');

        options.selectedItems.forEach(function (element, index) {
            var id = `<input type='hidden' name='${sourceName}DropdownItems[${index}].id' value='${element['id']}' />`;
            var text = `<input type='hidden' name='${sourceName}DropdownItems[${index}].text' value='${element['text']}' />`;

            $(resultItemsWrapper).append(id);
            $(resultItemsWrapper).append(text);

            $(options.element).append(`<option value="${element['id']}" selected="selected">${element['text']}</option>`);
        });
    }

    function GenerateResultItems(options) {
        var resultItemsWrapper = GetOrCreateResultItemsWrapper(options);
        var sourceName = $(options.element).prop('name');

        $(options.element).select2('data').forEach(function (element, index) {
            var id = `<input type='hidden' name='${sourceName}DropdownItems[${index}].id' value='${element['id']}' />`;
            var text = `<input type='hidden' name='${sourceName}DropdownItems[${index}].text' value='${element['text']}' />`;

            $(resultItemsWrapper).append(id);
            $(resultItemsWrapper).append(text);
        });
    }

    function GetOrCreateResultItemsWrapper(options) {
        var form = $(options.element).closest('form')[0];
        var resultItemsWrapperId = `${options.element.replace('#', '')}_result_items_wrapper`;
        var resultItemsWrapper = $(`#${resultItemsWrapperId}`)[0];

        if (resultItemsWrapper == undefined) {
            $(form).append(`<div id='${resultItemsWrapperId}' style='display: none;'></div>`);
            resultItemsWrapper = $(`#${resultItemsWrapperId}`)[0];
        }

        $(resultItemsWrapper).html('');

        return $(resultItemsWrapper);
    }

</script>