@inject IDropdownHelperService dropdownHelperService
@model TicketAddModel
@{ 
    Layout = null;
    var systemLanguagesJson = JsonConvert.SerializeObject(dropdownHelperService.GetSystemLanguages().Select(x => new { id = x.Value, text = x.Text }).ToList());
}

<style>
    .translation_wrapper {
        background-color: #f7f7f7;
        padding: 2em 1.5em 1em 1.5em;
        display: none;
    }
</style>

<form asp-controller="Tickets"
      asp-action="Add"
      method="POST"
      class="kt-form kt-form--fit">

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.Add_ticket
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="translatable_form_group col-md-12 form-group">
                <label>@Translations.Title</label>
                <div class="input-group">
                    <input asp-for="Title" class="translatable form-control m-input" placeholder="@Translations.Title">
                    <div class="input-group-append">
                        <button class="translation_btn btn btn-primary" type="button">
                            <i class="flaticon-globe text-white"></i>
                        </button>
                    </div> 
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label>@Translations.Ticket_type</label>
                <select asp-for="TicketType" id="modal_@nameof(TicketAddModel.TicketType)" class="form-control select2">
                </select>
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label>@Translations.Description</label>
                <textarea asp-for="Description" class="form-control m-input" placeholder="@Translations.Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="modal_submit_continue_button btn btn-primary" type="button">@Translations.Save_and_continue</button>
        <button class="modal_submit_close_button btn btn-primary" type="button">@Translations.Save</button>
    </div>

</form>

<script>

    Select2TicketTypes({
        element: '#modal_@nameof(TicketAddModel.TicketType)'
    });

    Translatable({
        element: '#@nameof(TicketAddModel.Title)'
    });

</script>