@model TicketUpdateModel

<div class="kt-portlet kt-portlet--mobile col-lg-12">
    <form asp-controller="Tickets"
          asp-action="Edit"
          method="POST"
          class="kt-form kt-form--fit">

        <input asp-for="Id" type="hidden" />
        <input name="fullPage" value="true" type="hidden" />

        <div class="modal-header">
            <h5 class="modal-title">
                @Translations.Edit_ticket
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <div class="col-md-12 row">
                <div class="translatable_form_group col-md-12 form-group">
                    <label>@Translations.Title</label>
                    <div class="input-group">
                        <input asp-for="Title" class="translatable form-control m-input" placeholder="@Translations.Title">
                        <div class="input-group-append">
                            <button class="translation_btn btn btn-primary" type="button">
                                <i class="flaticon-globe text-white"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Translations.Ticket_type</label>
                    <select asp-for="TicketType" id="modal_@nameof(TicketUpdateModel.TicketType)" class="form-control select2">
                    </select>
                    <span asp-validation-for="TicketType" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Translations.Ticket_status</label>
                    <select asp-for="TicketStatus" id="modal_@nameof(TicketUpdateModel.TicketStatus)" class="form-control select2"></select>
                    <span asp-validation-for="TicketStatus" class="text-danger"></span>
                </div>
                <div class="translatable_form_group col-md-12 form-group">
                    <label>@Translations.Description</label>
                    <div class="input-group">
                        <textarea asp-for="Description" rows="5" class="translatable form-control m-input" placeholder="@Translations.Description"></textarea>
                        <div class="input-group-append">
                            <button class="translation_btn btn btn-primary" type="button">
                                <i class="flaticon-globe text-white"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">@Translations.Save</button>
        </div>

    </form>
</div>

<script>

    Select2TicketTypes({
        element: '#modal_@nameof(TicketUpdateModel.TicketType)',
        initialValue: '@Model.TicketType.ToString()',
    });

    Select2TicketStatuses({
        element: '#modal_@nameof(TicketUpdateModel.TicketStatus)',
        initialValue: '@Model.TicketStatus.ToString()',
    });

    Translatable({
        element: '#@nameof(TicketUpdateModel.Title)'
    });

    Translatable({
        element: '#@nameof(TicketUpdateModel.Description)'
    });

</script>
