@model TicketSearchModel

<div class="kt-portlet kt-portlet--mobile col-lg-12">
    <form method="POST" class="datatable_search_form">

        <input asp-for="IsDeleted" type="hidden" />

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand kt-menu__link-icon flaticon2-digital-marketing"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Translations.Tickets
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button data-url="@Url.Action("Add", "Tickets")" class="open_modal_button btn btn-brand btn-elevate btn-icon-sm" type="button">
                            <i class="la la-plus"></i>
                            @Translations.New_record
                        </button>
                        <button class="btn btn-default datatable_search_form_reset_button">
                            <span>@Translations.Clear_filters<i class="flaticon-cancel ml-2"></i></span>
                        </button>
                        <button class="btn btn-default" type="submit">
                            <span>@Translations.Search<i class="la la-search ml-2"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="col-md-12 row mt-4">
                <div class="col-md form-group">
                    <input asp-for="Title" placeholder="@Translations.Title" class="form-control kt-input">
                </div>
                <div class="col-md form-group">
                    <select asp-for="TicketTypes" class="form-control select2"></select>
                </div>
                <div class="col-md form-group">
                    <select asp-for="TicketStatuses" multiple="multiple" class="form-control select2"></select>
                </div>
            </div>
        </div>
    </form>

    <div class="kt-portlet__body">

        <table class="datatable"></table>

    </div>
</div>

<script>

    $(document).ready(function() {

        Select2TicketTypes({
            element: '#@nameof(TicketSearchModel.TicketTypes)',
        });

        Select2TicketStatuses({
            element: '#@nameof(TicketSearchModel.TicketStatuses)',
        });

        DatatableAjax({
            element: '.datatable',
            url: '@Url.Action("IndexJson", "Tickets")',
            searchFormElement: '.datatable_search_form',
            columns: [
                {
                    field: '@nameof(TicketDTO.Title).ToCamelCase()',
                    title: '@Translations.Title',
                },
                {
                    field: '@nameof(TicketDTO.Description).ToCamelCase()',
                    title: '@Translations.Description',
                },
                {
                    field: '@nameof(TicketDTO.TicketType).ToCamelCase()',
                    title: '@Translations.Ticket_type',
                    template: function (row) {
                        var text = row.@nameof(TicketDTO.TicketTypeString).ToCamelCase();
                        var type = {
                            0: { 'class': 'kt-badge--danger' },
                            1: { 'class': 'kt-badge--info' },
                        };
                        if (typeof type[row.ticketType] === 'undefined') {
                            return text;
                        }
                        return '<span class="kt-badge ' + type[row.ticketType].class + ' kt-badge--inline kt-badge--pill">' + text + '</span>';
                    },
                    textAlign: 'center'
                },
                {
                    field: '@nameof(TicketDTO.TicketStatus).ToCamelCase()',
                    title: '@Translations.Ticket_status',
                    template: function (row) {
                        var text = row.@nameof(TicketDTO.TicketStatusString).ToCamelCase();
                        var status = {
                            0: { 'class': 'kt-badge--info' },
                            1: { 'class': 'kt-badge--success' },
                            2: { 'class': 'kt-badge--danger' },
                            3: { 'class': 'kt-badge--warning' },
                        };
                        if (typeof status[row.ticketStatus] === 'undefined') {
                            return text;
                        }
                        return '<span class="kt-badge ' + status[row.ticketStatus].class + ' kt-badge--inline kt-badge--pill">' + text + '</span>';
                    },
                    textAlign: 'center'
                },
                {
                    template: (row) => DatatableBasicActions({
                        details: {
                            url: `@Url.Action("Details", "Tickets")/${row.id}`
                        },
                        edit: {
                            url: `@Url.Action("Edit", "Tickets")/${row.id}?fullPage=true`,
                            fullPage: true
                        },
                        delete: {
                            url: `@Url.Action("Delete", "Tickets")/${row.id}`
                        }
                    }),
                    ...DatatableActionsColumnOptions(),
                }
            ]
        });
    });

</script>


