@model TicketDTO
@{ Layout = null; }

<div class="modal-header">
    <h5 class="modal-title">
        @Translations.Details
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">

    <div class="col-md-12 row">
        <div class="col-md-12 form-group">
            <label>@Translations.Title</label>
            <input asp-for="Title" class="form-control m-input" disabled>
        </div>
        <div class="col-md-6 form-group">
            <label>@Translations.Ticket_type</label>
            <input value="@TranslationsHelper.Translate(Model.TicketType.ToString())" class="form-control m-input" disabled>
        </div>
        <div class="col-md-6 form-group">
            <label>@Translations.Ticket_status</label>
            <input value="@TranslationsHelper.Translate(Model.TicketStatus.ToString())" class="form-control m-input" disabled>
        </div>
        <div class="col-md-12 form-group">
            <label>@Translations.Description</label>
            <textarea disabled asp-for="Description" class="form-control m-input" placeholder="@Translations.Description"></textarea>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
</div>
