@model ChangePasswordModel
@{ Layout = null; }

<div class="kt-portlet kt-portlet--mobile col-lg-12">
    <form asp-controller="Account"
          asp-action="ChangePassword"
          method="POST"
          class="kt-form kt-form--fit">

        <div class="modal-header">
            <h5 class="modal-title">
                @Translations.Change_password
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="col-md-12 row">
                <div class="col-md-12 form-group">
                    <label>@Translations.Current_password</label>
                    <input type="password" asp-for="Password" class="form-control m-input" placeholder="@Translations.Current_password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label>@Translations.New_password</label>
                    <input type="password" asp-for="NewPassword" class="form-control m-input" placeholder="@Translations.New_password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label>@Translations.New_password_confirmation</label>
                    <input type="password" asp-for="NewPasswordConfirmed" class="form-control m-input" placeholder="@Translations.New_password_confirmation">
                    <span asp-validation-for="NewPasswordConfirmed" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
            <button class="modal_submit_close_button btn btn-primary" type="button">@Translations.Save</button>
        </div>

    </form>
</div>

