@inject CurrentUser currentUser
@{
    Layout = null;
}

<style>
    .subtitle {
        text-align: center;
        margin-bottom: 2em;
    }
</style>

<form asp-controller="Account"
      asp-action="ToggleCurrentBusinessUnit"
      method="POST"
      class="current_business_unit_form kt-form kt-form--fit">

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.BusinessUnits
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="col-md-12 subtitle">
                <h5>@Translations.Do_you_want_to_change_currently_selected_business_unit</h5>
            </div>
            <div class="col-md-12 form-group">
                <select name="BusinessUnitId" id="modal_business_unitId" class="form-control select2">
                    @if (currentUser.CurrentBusinessUnitId().HasValue)
                    {
                        <option value="@currentUser.CurrentBusinessUnitId()" selected="selected">
                            @currentUser.CurrentBusinessUnitName()
                        </option>
                        <option value="">@Translations.All</option>
                    }
                    else
                    {
                        <option value="" selected="selected">@Translations.All</option>
                    }
                </select>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="btn btn-primary" type="submit">@Translations.Change</button>
        <button class="btn btn-primary select_all" type="button">@Translations.Select_all</button>
    </div>

</form>

<script>

    Select2AjaxBusinessUnits({
        element: '#modal_business_unitId',
        placeholder: '@Translations.All'
    });

    var form = $('.current_business_unit_form')[0];
    $(form).attr('action', `${$(form).attr('action')}?returnUrl=${window.location.pathname}`);

    $('.select_all').on('click', function (e) {
        $('#modal_business_unitId').val('');
        var form = $('.current_business_unit_form')[0];
        form.submit();
    });

</script>