@model GroupUpdateModel
@{ Layout = null; }

<form asp-controller="Groups"
      asp-action="Edit"
      method="POST"
      class="kt-form kt-form--fit">

    <input type="hidden" asp-for="Id" />

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.Edit_group
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="translatable_form_group col-md form-group">
                <label>@Translations.Title</label>
                <div class="input-group">
                    <input asp-for="Title" class="translatable form-control m-input" placeholder="@Translations.Title">
                    <div class="input-group-append">
                        <button class="translation_btn btn btn-primary" type="button">
                            <i class="flaticon-globe text-white"></i>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="translatable_form_group col-md-12 form-group">
                <label>@Translations.Description</label>
                <div class="input-group">
                    <textarea asp-for="Description" rows="5" class="translatable form-control m-input" placeholder="@Translations.Description"></textarea>
                    <div class="input-group-append">
                        <button class="translation_btn btn btn-primary" type="button">
                            <i class="flaticon-globe text-white"></i>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12 row">
            <div class="col-md form-group">
                <label>@Translations.Users</label>
                <select asp-for="UserIds" id="modal_@nameof(GroupUpdateModel.UserIds)" multiple="multiple" class="form-control select2"></select>
                <span asp-validation-for="UserIds" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="modal_submit_close_button btn btn-primary" type="button">@Translations.Save</button>
    </div>

</form>

<script>

    Select2AjaxUsers({
        element: '#modal_@nameof(GroupUpdateModel.UserIds)',
        selectedItems: '@Html.Raw(Model.UserIdsDropdownItems.GetDropdownItemsJson())'
    });

    Translatable({
        element: '#@nameof(GroupUpdateModel.Title)'
    });

    Translatable({
        element: '#@nameof(GroupUpdateModel.Description)'
    });

</script>