@inject IViewHelperService viewHelperService
@inject ICurrentUser currentUser
@{ Layout = null;}

<li class="kt-menu__section ">
    <h4 class="kt-menu__section-text">@currentUser.CurrentCompanyName()</h4>
    <i class="kt-menu__section-icon flaticon-more-v2"></i>
</li>

@if (viewHelperService.ShowCompanyAuthSection())
{
    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon2-shield"></i>
            <span class="kt-menu__link-text">@Translations.Auth_settings</span>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu" kt-hidden-height="200" style="">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                    <span class="kt-menu__link">
                        <span class="kt-menu__link-text">@Translations.Auth_settings</span>
                    </span>
                </li>
                @if (viewHelperService.ShowCompanyRolesItem())
                {
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-controller="Roles"
                           asp-action="Index"
                           class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">@Translations.Roles</span>
                        </a>
                    </li>
                }
                @if (viewHelperService.ShowCompanyUsersItem())
                {
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-controller="Users"
                           asp-action="Index"
                           class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">@Translations.Users</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}


@if (viewHelperService.ShowCompanyNotificationsSection())
{
    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon2-notification"></i>
            <span class="kt-menu__link-text">@Translations.Notifications</span>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu" kt-hidden-height="200" style="">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                    <span class="kt-menu__link">
                        <span class="kt-menu__link-text">@Translations.Notifications</span>
                    </span>
                </li>
                @if (viewHelperService.ShowCompanyNotificationsItem())
                {
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-controller="Notifications"
                           asp-action="Index"
                           class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">@Translations.Notifications</span>
                        </a>
                    </li>
                }
                @if (viewHelperService.ShowCompanyGroupsItem())
                {
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a asp-controller="Groups"
                           asp-action="Index"
                           class="kt-menu__link ">
                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="kt-menu__link-text">@Translations.Groups</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}