@inject CurrentUser currentUser
@{ 
    Layout = null;
    var returnUrl = @Context.Request.Query["returnurl"];
}

<style>
    .subtitle {
        text-align: center;
        margin-bottom: 2em;
    }
</style>

<form asp-controller="CurrentCompany"
      asp-action="Toggle"
      asp-route-returnurl="@returnUrl"
      method="POST"
      class="kt-form kt-form--fit">

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.Companies
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="col-md-12 subtitle">
                <h5>@Translations.Do_you_want_to_change_currently_selected_company</h5>
            </div>
            <div class="col-md-12 form-group">
                <select name="CompanyId" id="modal_companyId" class="form-control select2">
                    @if (currentUser.CompanyId().HasValue)
                    {
                        <option value="@currentUser.CompanyId()" selected="selected">
                            @currentUser.CompanyName()
                        </option>
                        <option value="">@Translations.All</option>
                    }
                    else
                    {
                        <option value="" selected="selected">@Translations.All</option>
                    }
                </select>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="btn btn-primary" type="submit">@Translations.Change</button>
    </div>

</form>

<script>

    Select2AjaxCompanies({
        element: '#modal_companyId'
    });

</script>