@inject CurrentUser currentUser
@inject IViewHelperService viewHelperService
@{ Layout = null;}

<!-- begin::Sticky Toolbar -->
<ul class="kt-sticky-toolbar" style="margin-top: 30px;">
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success"
        data-toggle="kt-tooltip"
        title="Documentation"
        data-placement="right">
        <a href="#">
            <i class="flaticon2-list-1"></i>
        </a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning"
        data-toggle="kt-tooltip"
        title="Report a bug or suggest a feature"
        data-placement="right">
        <a href="@Url.Action("Add", "Tickets")" class="open_modal_button">
            <i class="flaticon2-digital-marketing"></i>
        </a>
    </li>
    @if (viewHelperService.ShowToggleCurrentCompanyItem())
    {
        <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning"
            data-toggle="kt-tooltip"
            title="Change current company: @(currentUser.CurrentCompanyName() ?? Translations.All)"
            data-placement="right">
            <a href="@Url.Action("ToggleCurrentCompany", "Account")" class="open_modal_button">
                <i class="flaticon-grid-menu"></i>
            </a>
        </li>
    }
    @if (viewHelperService.ShowToggleCurrentBusinessUnitItem())
    {
        <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning"
            data-toggle="kt-tooltip"
            title="Change current business unit: @(currentUser.CurrentBusinessUnitName() ?? Translations.All)"
            data-placement="right">
            <a href="@Url.Action("ToggleCurrentBusinessUnit", "Account")" class="open_modal_button">
                <i class="flaticon-grid-menu-v2"></i>
            </a>
        </li>
    }
</ul>
<!-- end::Sticky Toolbar -->
