@model CompanySearchModel

<div class="kt-portlet kt-portlet--mobile col-lg-12">
    <form method="POST" class="datatable_search_form">
        
        <input asp-for="IsDeleted" type="hidden" />
        
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand kt-menu__link-icon flaticon-grid-menu"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Translations.Companies
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <button data-url="@Url.Action("Add", "Companies")" class="open_modal_button btn btn-brand btn-elevate btn-icon-sm" type="button">
                            <i class="la la-plus"></i>
                            @Translations.New_record
                        </button>
                        <button class="btn btn-default datatable_search_form_reset_button">
                            <span>@Translations.Clear_filters<i class="flaticon-cancel ml-2"></i></span>
                        </button>
                        <button class="btn btn-default" type="submit">
                            <span>@Translations.Search<i class="la la-search ml-2"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="col-md-12 row mt-4">
                <div class="col-md form-group">
                    <input asp-for="Name" placeholder="@Translations.Name" class="form-control kt-input">
                </div>
            </div>
        </div>
    </form>

    <div class="kt-portlet__body">

        <table class="datatable"></table>

    </div>
</div>

<script>

    $(document).ready(function () {
       DatatableAjax({
            element: '.datatable',
            url: '@Url.Action("IndexJson", "Companies")',
            searchFormElement: '.datatable_search_form',
            columns: [
                {
                    field: '@nameof(CompanyDTO.Name).ToCamelCase()',
                    title: '@Translations.Name',
                },
                {
                    template: (row) => DatatableBasicActions({
                        details: {
                            url: `@Url.Action("Details", "Companies")/${row.id}`
                        },
                        edit: {
                            url: `@Url.Action("Edit", "Companies")/${row.id}`
                        },
                        delete: {
                            url: `@Url.Action("Delete", "Companies")/${row.id}`
                        }
                    }),
                    ...DatatableActionsColumnOptions(),
                }
            ]
        });
    });

</script>


