@inject CurrentUser currentUser
@model UserAddModel
@{ Layout = null; }

<form asp-controller="Users"
      asp-action="Add"
      method="POST"
      class="kt-form kt-form--fit">

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.Add_user
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="col-md-6 form-group">
                <label>@Translations.User_name</label>
                <input asp-for="UserName" class="form-control m-input" placeholder="@Translations.User_name">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>@Translations.Email</label>
                <input asp-for="Email" class="form-control m-input" placeholder="@Translations.Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>@Translations.First_name</label>
                <input asp-for="FirstName" class="form-control m-input" placeholder="@Translations.First_name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>@Translations.Last_name</label>
                <input asp-for="LastName" class="form-control m-input" placeholder="@Translations.Last_name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label>@Translations.City</label>
                <input asp-for="SelectedCity" type="hidden">
                <select asp-for="CityId" id="modal_@nameof(UserAddModel.CityId)" class="form-control select2">
                    <option value="@Model.CityId" selected="selected">
                        @(Model.SelectedCity ?? Translations.Select_city)
                    </option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            @*<div class="col-md-12 form-group">
                <label>@Translations.Roles</label>
                <select asp-for="RoleIds" id="modal_@nameof(UserAddModel.RoleIds)" multiple="multiple" class="form-control select2">
                    @foreach (var item in Model.RoleIdsSelectList)
                    {
                        <option value="@item.Value" selected="selected">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="RoleIds" class="text-danger"></span>
            </div>
            @if (!currentUser.CurrentCompanyId().HasValue)
            {
                <div class="col-md-12 form-group">
                    <label>@Translations.Companies</label>
                    <select asp-for="CompanyIds" id="modal_@nameof(UserAddModel.CompanyIds)" multiple="multiple" class="form-control select2">
                        @foreach (var item in Model.CompanyIdsSelectList)
                        {
                            <option value="@item.Value" selected="selected">@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="CompanyIds" class="text-danger"></span>
                </div>
            }
            @if (!currentUser.CurrentBusinessUnitId().HasValue)
            {
                <div class="col-md-12 form-group">
                    <label>@Translations.BusinessUnits</label>
                    <select asp-for="BusinessUnitIds" id="modal_@nameof(UserAddModel.BusinessUnitIds)" multiple="multiple" class="form-control select2">
                        @foreach (var item in Model.BusinessUnitIdsSelectList)
                        {
                            <option value="@item.Value" selected="selected">@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="BusinessUnitIds" class="text-danger"></span>
                </div>
            }*@
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="modal_submit_continue_button btn btn-primary" type="button">@Translations.Save_and_continue</button>
        <button class="modal_submit_close_button btn btn-primary" type="button">@Translations.Save</button>
    </div>

</form>

<script>

    Select2AjaxCities({
        element: '#modal_@nameof(UserAddModel.CityId)',
        onChangeCopyTextTo: '#@nameof(UserAddModel.SelectedCity)',
    });
    @*Select2AjaxRoles({
        element: '#modal_@nameof(UserAddModel.RoleIds)',
    });
    Select2AjaxCompanies({
        element: '#modal_@nameof(UserAddModel.CompanyIds)',
    });
    Select2AjaxBusinessUnits({
        element: '#modal_@nameof(UserAddModel.BusinessUnitIds)',
    });*@

</script>