@model ResetPasswordModel
@{ Layout = null; }

<form asp-controller="Users"
      asp-action="ResetPassword"
      method="POST"
      class="kt-form kt-form--fit">

    <input asp-for="UserId" type="hidden" />

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.Change_password
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="col-md-12 form-group">
                <label>@Translations.Password</label>
                <input asp-for="Password" class="form-control m-input" placeholder="@Translations.Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-12 form-group">
                <label>@Translations.Password_confirmed</label>
                <input asp-for="PasswordConfirmed" class="form-control m-input" placeholder="@Translations.Password_confirmed">
                <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="modal_submit_close_button btn btn-primary" type="button">@Translations.Save</button>
    </div>

</form>
