@model AccountTypeDTO
@{ Layout = null; }

<div class="modal-header">
    <h5 class="modal-title">
        @Translations.Details
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">

    <div class="col-md-12 row">
        <div class="col-md-12 form-group">
            <label>@Translations.System_account_type</label>
            <input asp-for="SystemAccountType" class="form-control m-input" disabled>
        </div>

        <div class="col-md-12 form-group">
            <label>@Translations.Duration</label>
            <input value="@(Model.Duration.HasValue ? Model.DurationString : Translations.Indefinite)" class="form-control m-input" disabled>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
</div>
