@model CountrySearchModel

<div class="kt-portlet kt-portlet--mobile col-lg-12">
    <form method="POST" class="datatable_search_form">
        
        <input asp-for="IsDeleted" type="hidden" />
        
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand kt-menu__link-icon flaticon-globe"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Translations.Countries
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="kt-nav">
                                <li class="kt-nav__section kt-nav__section--first">
                                    <span class="kt-nav__section-text">@Translations.Choose_an_option</span>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="@Url.Action("Report", "Countries", new { reportOption = ReportOptions.Pdf })" target="_blank" class="kt-nav__link">
                                        <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                        <span class="kt-nav__link-text">@Translations.PDF</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-download"></i> @Translations.Print
                        </button>
                        <a href="@Url.Action("Add", "Countries")" class="open_modal_button btn btn-brand btn-elevate btn-icon-sm" type="button">
                            <i class="la la-plus"></i>
                            @Translations.New_record
                        </a>
                        <button class="btn btn-default datatable_search_form_reset_button">
                            <span>@Translations.Clear_filters<i class="flaticon-cancel ml-2"></i></span>
                        </button>
                        <button class="btn btn-default" type="submit">
                            <span>@Translations.Search<i class="la la-search ml-2"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="col-md-12 row mt-4">
                <div class="col-md form-group">
                    <input asp-for="Name" placeholder="@Translations.Name" class="form-control">
                </div>
                <div class="col-md form-group">
                    <input asp-for="Code" placeholder="@Translations.Code" class="form-control">
                </div>
                <div class="col-md form-group">
                    <select asp-for="CurrencyIds" class="form-control select2"></select>
                </div>
                <div class="col-md form-group">
                    <select asp-for="LanguageIds" class="form-control select2"></select>
                </div>
            </div>
        </div>
    </form>

    <div class="kt-portlet__body">

        <table class="datatable"></table>

    </div>
</div>

<script>

    $(document).ready(function () {
        Select2AjaxCurrencies({
            element: '#@nameof(CountrySearchModel.CurrencyIds)',
        });
        Select2AjaxLanguages({
            element: '#@nameof(CountrySearchModel.LanguageIds)',
        });

        DatatableAjax({
            element: '.datatable',
            url: '@Url.Action("IndexJson", "Countries")',
            searchFormElement: '.datatable_search_form',
            columns: [
                {
                    field: '@nameof(CountryDTO.Name).ToCamelCase()',
                    title: '@Translations.Name',
                },
                {
                    field: '@nameof(CountryDTO.Code).ToCamelCase()',
                    title: '@Translations.Code',
                },
                {
                    template: (row) => DatatableBasicActions({
                        details: {
                            url: `@Url.Action("Details", "Countries")/${row.id}`
                        },
                        edit: {
                            url: `@Url.Action("Edit", "Countries")/${row.id}`
                        },
                        delete: {
                            url: `@Url.Action("Delete", "Countries")/${row.id}`
                        }
                    }),
                    ...DatatableActionsColumnOptions(),
                }
            ]
        });
    });

</script>


