@model CountrySearchModel

@{
    Layout = "../Shared/_ReportLayout.cshtml";
}

<div class="kt-portlet kt-portlet--mobile col-lg-12">
    <form method="POST" class="datatable_search_form">

        <input asp-for="IsDeleted" type="hidden" />

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand kt-menu__link-icon flaticon-globe"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Translations.Countries
                </h3>
            </div>
        </div>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="col-md-12 row mt-4">
                @if (!string.IsNullOrEmpty(Model.Name))
                {
                    <div class="col-md form-group">
                        <label>@Translations.Name</label>
                        <input asp-for="Name" class="form-control kt-input">
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Code))
                {
                    <div class="col-md form-group">
                        <label>@Translations.Code</label>
                        <input asp-for="Code" class="form-control kt-input">
                    </div>
                }
            </div>
        </div>
    </form>

    <div class="kt-portlet__body">

        <table class="datatable"></table>

    </div>
</div>

<script>

    $(document).ready(function () {
       DatatableAjax({
            element: '.datatable',
            url: '@Url.Action("ReportJson", "Countries")',
            searchFormElement: '.datatable_search_form',
            serverPaging: false,
            print: true,
            columns: [
                {
                    field: '@nameof(CountryDTO.Name).ToCamelCase()',
                    title: '@Translations.Name',
                },
                {
                    field: '@nameof(CountryDTO.Code).ToCamelCase()',
                    title: '@Translations.Code',
                },
                {
                    field: '',
                    title: '',
                }
            ]
        });
    });

</script>


