@model RoleUpdateModel
@{
    Layout = null;
    var appClaims = AppClaimsHelper.Authorization.All;
}

<form asp-controller="Roles"
      asp-action="Edit"
      method="PUT"
      class="kt-form kt-form--fit">

    <div class="modal-header">
        <h5 class="modal-title">
            @Translations.Update_role
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <div class="col-md-12 row">
            <div class="col-md form-group">
                <label>@Translations.Name</label>
                <input asp-for="Name" class="form-control m-input" placeholder="@Translations.Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
            <div class="claim_item col-md-12 row">
        @{ int counter = 0; }
        @foreach (var item in appClaims)
        {
            var isChecked = Model.Claims.Contains(item) ? "checked" : "";
            var id = $"Claims_{counter}";

                <div class="col-md-6 form-group">
                    <label class="kt-checkbox kt-checkbox--single">
                        <input type="checkbox" id="@id" name="Claims" value="@item" @isChecked><span></span>
                        <label for="@id">@Translations.ResourceManager.GetString(item, Translations.Culture)</label>
                    </label>
                </div>

            counter++;
        }
            </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
        <button class="modal_submit_close_button btn btn-primary" type="button">@Translations.Save</button>
    </div>

</form>
