@model LogDTO
@{ Layout = null; }

<div class="modal-header">
    <h5 class="modal-title">
        @Translations.Details
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">

    <div class="col-md-12 row">
        <div class="col-md-4 form-group">
            <label>@Translations.Level</label>
            <input asp-for="LevelString" class="form-control m-input" disabled>
        </div>
        <div class="col-md-4 form-group">
            <label>@Translations.CreatedAt</label>
            <input asp-for="CreatedAtString" class="form-control m-input" disabled>
        </div>
        <div class="col-md-4 form-group">
            <label>@Translations.MachineName</label>
            <input asp-for="MachineName" class="form-control m-input" disabled>
        </div>
        <div class="col-md-12 form-group">
            <label>@Translations.Message</label>
            <textarea asp-for="Message" class="form-control m-input" disabled></textarea>
        </div>
        <div class="col-md-12 form-group">
            <label>@Translations.Properties</label>
            <pre><code id="Code_@nameof(LogDTO.Properties)"></code></pre>
            <input type="hidden" asp-for="Properties" />
        </div>
        <div class="col-md-12 form-group">
            <label>@Translations.Exception</label>
            <textarea asp-for="Exception" class="form-control m-input" disabled rows="5"></textarea>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
</div>

<script>

    var properties = $('#@nameof(LogDTO.Properties)').val();
    if (properties != undefined && properties != '') {
        var propertiesObject = JSON.parse(properties);
        if (!library)
            var library = {};

        library.json = {
            replacer: function (match, pIndent, pKey, pVal, pEnd) {
                var key = '<span class=json-key>';
                var val = '<span class=json-value>';
                var str = '<span class=json-string>';
                var r = pIndent || '';
                if (pKey)
                    r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
                if (pVal)
                    r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
                return r + (pEnd || '');
            },
            prettyPrint: function (obj) {
                var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
                return JSON.stringify(obj, null, 3)
                    .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
                    .replace(/</g, '&lt;').replace(/>/g, '&gt;')
                    .replace(jsonLine, library.json.replacer);
            }
        };

        $('#Code_@nameof(LogDTO.Properties)').html(library.json.prettyPrint(propertiesObject));
    }
</script>